body :not(p){
    color :red;
}


/* below pseudo class hightlight element which is empty element */
div:empty{
   background-color : rgb(180, 146, 211);
    border: 1px solid;
    height : 100px;
    width : 100px;
}

/* root means root element which is html root has more specificity than html tag but we generally used body tag to integrate properties globally. */
:root{
  background-color:bisque;
  color:cadetblue;
}
