@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
body{

    font-family: Montserrat,poppins;
}
.span-element{
 background-color: aqua;
}

.heading-color{
    color:rgb(46, 128, 123)
}

.main{
    background-color: #cdcdcd;
}

.section{
    background-color: #cdcdcd;
}