@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family:poppins;
}

.container{
    width:800px;
    margin: auto;
}

h1{
    background-color: #cdcdcd;
    padding:10px;
    text-align: center;
}

section.para1 , .para2{
 border: 1px solid ;
 margin :auto;
 padding:10px;
 margin-top :10px;
}

section>h3{
    text-transform: uppercase;
    color : #444
}
