@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: poppins , sans-serif;
    color:#444
}
.container{
    margin:0 30px;
}

a{
    text-decoration: none;
    color : #444; 
}

nav {
    background-color: #cdcdcd;
}

ul{
    padding:10px;
    text-align: center;
    list-style: none;
}

li{
    display: inline-block;
    border-bottom: 1px solid ;
    margin : 5px 20px;
    text-transform: uppercase;
}

/* .nav-menu > p{
    padding-left: 20px;
    display: inline;
    text-decoration: underline;
} */
/* 
.nav-menu a{
    padding: 10px;
    color : black
} */

section h3{
    margin-bottom: -9px;
    /* padding-bottom: 1px; */
}
