/*by default font size is 16px */
p{
   font-size: 48px;

   /* 96px === 1inch */
   font-size: 2in;

   /* 1inch == 2.54cm */
   font-size: 2cm;

   /* 1px == 0.75pt */
   /* 16px == 0.75*16 (12) */
   font-size: 24pt;
}

/* ---------------------------------------------------------------------------------- */
/* Relative Units  */

div{
  /* fontsize of this div is 10px and it is also applicable to all elements comes in div */
  font-size: 10px;
  border: 1px solid red;
  width: 50%;
}
.relative-units{
  /* font-size by default is 16px == 100% */
  /* this element comes in div which is parent to .relative-units so 300% would be 30px here  */
  font-size: 300%; /*ie : 48px*/
  border: 1px solid green;
  width: 50%;
  margin:20px;
  text-align: center;
  background-color: aquamarine;
}