
/* css inheritance property which inherit the properties from body  tag which is universal to all page */

body{
    color : red
}

.container2{
    color:blue;
}

.container1{
    color:green;
}       

/* priority chart */
 /* inline style attribute > #id > .class > Element tag  */

 h3{
    background-color: #cdcdcd;
    text-align:right;
    padding-right: 20px;
    width: 500px;
 }

 a{
    background-color: #cdcdcd;
    text-align:center;
    padding-right: 20px;
    width: 500px;
    display: inline-block;
 }